@import url(default.css);
body{background-color:#fff;margin-left:1em;margin-right:1em}
div.document{margin-top:1em;border-top:1px solid #888;border-bottom:1px solid #888;color #222}
div.body{border-left:1px solid #888}
div.section{padding-top:1em;*/ margin-left:1em}
div.sphinxsidebar{background-color:#f1f1f1;border-bottom:1px solid #888;line-height:130%;font-size:smaller;padding-top:1em}
div.body a {#00608f}
div.body a:visited {#30306f}
div.body a:hover {#00B0E4}
div.body p {line-height:140%}
div.body hr {border:0;background-color:#ccc;height:1px}
div.body h1,div.body h2,div.body h3,div.body h4,div.body h5,div.body h6{margin:0;border:0;padding:.3em 0}
div.body pre{border-radius:3px;border:1px solid #ac9}
div.related{color:#fff}
div.footer {text-align:right;margin-right:1em}
